{% extends "layout.html" %}
    {% block body %}
        <table class="table table-striped table-bordered">
        <thead>
        <caption>
            <img src="../static/303.jpg" style="width:50%; height: auto;"><br>
            <a href="https://vk.com/fmf_303" title="https://vk.com/fmf_303">Вы можете связаться с нашей группой,
            используя номер телефона из таблицы ниже, и соответствующую кодовую фразу.<br id="table">
            А можете нажать на этот текст и перейти на нашу группу ВКонтакте</a>
        </caption>
    {% if not access %}
        <tr><td>
            <div class="alert alert-danger" role="alert">
            <p>{{error}}</p>
        </div>
            <form action="/contact#table" method="post">
                <label for="pass">Введите пароль для доступа к контактной информации группы:</label><br/>
                <input type="password" name="pass" id="pass">
                <input type="submit" value="Submit!">
            </form>
        </td></tr>
    {% endif %}
    {% if access %}
        <tr>
            <th>№</th>
            <th>ФИО</th>
            <th>Телефон</th>
            <th>Характеристика</th>
        </tr>
        </thead>
        <tr>
            <td>1</td>
            <td>Гощина Наталья Николаевна</td>
            <td>077991832</td>
            <td>Ум, совесть и староста нашей группы</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Диденко Алексей Иванович</td>
            <td>0037360643957</td>
            <td>Честь, совесть и тайна нашей группы</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Епифанов Андрей Сергеевич</td>
            <td>077881577</td>
            <td>Брат, братан, братишка</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Карамануца Владислав Александрович</td>
            <td>077983916</td>
            <td>Профорг, личный водитель группы</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Лысенко Александр Алексадрович</td>
            <td>077757877</td>
            <td>Сисадмин, веб-девелопер, красноглазик</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Радилов Петр Алексеевич</td>
            <td>077800368</td>
            <td>Репродуктивный программист, девелопер под Андроид</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Руснак Илья Анатольевич</td>
            <td>077990146</td>
            <td>Филолог, просто филолог</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Стефанишин Никита Алексеевич</td>
            <td>077785223</td>
            <td>Очень быстро усваивает. Поверьте, ему очень сложно</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Шлехт Игорь Геннадьевич</td>
            <td>077813888</td>
            <td>Не ходит на физру, потому что качается</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Штыра Татьяна Сергеевна</td>
            <td>077783140</td>
            <td>Фотограф, до сих пор рада что сдала Спиридонову</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Штырба Святослав Геннадьевич</td>
            <td>077532261</td>
            <td>Пиццу заказывали?</td>
        </tr>
    {% endif %}
        </table>
    {% endblock %}