{% extends "layout.html" %}
    {% block body %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        <li data-target="#myCarousel" data-slide-to="3" class="active"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="../static/photo.jpg" align="center" width="auto" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>У нас самая классная группа, и все остальные группы нам завидуют.</h1>
              <p>Мы гордо называем нашу группу "Триста третья", а Л.Ю. Надькин завистливо говорит, что после сессии нас станет наполовину меньше(((.</p>
              <p><a class="btn btn-lg btn-primary" href="/about" role="button">Подробнее...</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img alt="Second slide" src="../static/chat.png" >
          <div class="container">
            <div class="carousel-caption">
              <h1><font color="blue">Чатик группы.</font></h1>
              <p><font color="black">Модуль гостевой книги переделан для теплого общения группы. Пока сыроват, но работает.</font></p>
              <p><a class="btn btn-lg btn-primary" href="/chat" role="button">Открыть чат</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img alt="Third slide" src="../static/sqr.png">
          <div class="container">
            <div class="carousel-caption">
              <h1><font color="blue">Квадрат числа</font></h1>
              <p><font color="black">Для особо "одаренных" мы сделали шпаргалку, находящую квадрат введенного числа.<br/>
              Обновление: добавлена шпаргалка, решающая квадратные уравнения</font></p>
              <p><a class="btn btn-lg btn-primary" href="/sqr" role="button">Найти квадрат</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img alt="Fourth slide" src="../static/linkshorter.png">
          <div class="container">
            <div class="carousel-caption">
              <h1><font color="blue">Сервис сокращения ссылок</font></h1>
              <p><font color="black">Выполненный в духе эпохи модернизма сервис редиректа ссылок через уникальный код,
              c функцией скрытой постмодерации.<br>
              Вполне пригоден, чтобы разыграть друзей, или свернуть громоздкий URL.</font></p>
              <p><a class="btn btn-lg btn-primary" href="/linkshorter" role="button">Сокращаааай, скорей!</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><!--span class="glyphicon glyphicon-chevron-left"></span--></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><!--span class="glyphicon glyphicon-chevron-right"></span--></a>
    </div>


    <div class="container theme-showcase" role="main">
        <h1 align="center">Группа 303 на связи</h1>
        <hr>
        <p>
            Текущее время: {{ current_time }}<br>
            {{ days }}
        </p>
        <hr>
        <h4>Что уже можно сделать на нашем сайте?</h4>
        <p>
            <ul>
                <li><a href="/sqr">Найти квадрат введенного числа или решить квадратное уравнение,</a></li>
                <li><a href="/chat">Пообщаться в теплом уютном чате группы,</a></li>
                <li><a href="/linkshorter">Сократить длинную ссылку, и отправить другу</a> <a onclick="alert('я вирус')">вирус</a>, или <a href="/go/RickRoll">Рик-Ролл ☺☺☺</a>,</li>
                <li><a href="/gallery">"Дропнуть" свободную пользовательскую галерею, или оставить в ней что-либо своё.</a></li>
                <li><a href="http://bootstrap-3.ru/bootstraptheme.php">А сюда можно не тыкать, тут много полезных фич Bootstrap'а, шпаргалка крч</a></li>
            </ul>
        </p>
    {% endblock %}